.contact-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: calc(33.33% - 1rem);

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: #001A20;
      font-weight: bold;
      color:white;
    }

    input {
      padding: 0.5rem;
      border: 2px solid #b4d6e0;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      color: #001A20;

      &:focus {
        outline: none;
        border-color: #03a9f4;
      }
    }
  }
}
