.contact-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .add-btn{
        background-color: #047fa1;
        padding: 0.2rem 0.9rem;
        border-radius: 10px;
        margin-block-end: 5px;
        margin-inline-start: 50%;
        margin-inline-end: 50%;
        width: 120px;
        text-align: center;
        border: 1px solid transparent;
        transform: translate(-50%);
        
        &:hover {
            text-decoration: none;
            background-color: #1da1c1;
            color: white;
            border: 1px solid white;
        }
    }
}
