.signup-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h2 {
    color: #047fa1;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }

  img {
    width: 150%;
    grid-column: 1;
    margin-inline-end: 400px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }

  form {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-input {
      width: 100%;
      max-width: 400px;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      border-radius: 0.25rem;
      border: 2px solid #cbe7ed;
      font-size: 1rem;
      font-weight: 400;
      color: #001a20;

      &:focus {
        outline: none;
        border-color: #047fa1;
        box-shadow: 0 0 0 3px rgba(4, 127, 161, 0.2);
      }
    }

    .btn {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: none;
      background-color: #047fa1;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #02202e;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: #001a20;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .signup-page {

    img {
      width: 100%;
      max-width: none;
      margin-inline-end: 0;
      margin-bottom: 1rem;
    }

    form {
      grid-column: 2;
      max-width: none;
      margin-inline-start: 1rem;
    }
  }
}
