.transfer-fund {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    margin-block-start: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
      color: #cbe7ed;
    }
  
    form.flex.align-center {
      p {
        font-size: 1rem;
        font-weight: 400;
        color: #cbe7ed;
        margin-right: 0.5rem;
      }
  
      input[type="number"] {
        font-size: 1rem;
        font-weight: 400;
        color: #cbe7ed;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        margin-right: 0.5rem;
        width: 100%;
        max-width: 100px;
      }
  
      button.btn {
        font-size: 1rem;
        font-weight: 400;
        color: #cbe7ed;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  
    .user-message {
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff;
      margin-top: 0.5rem;
      margin-inline-start: 5px;
    }
  }
  